#local{
    text-align: center;
    position: absolute;
    width: 100%;
    width: 35%;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.div{
    display: flex;
    text-align: center;
    align-items: center;
    
}